<div class="main" ng-show="main.slipFlag">
    <div class="row rowLine">
        <div class="col-md-3"><button class="btn buttons" ng-click="main.clear()">C</button></div>
        <div class="col-md-3"><button class="btn buttons" ng-click="main.delete()">DEL</button></div>
        <div class="col-md-3"><button class="btn buttons">÷</button></div>
        <div class="col-md-3"><button class="btn buttons">×</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-3"><button class="btn buttons" ng-click="main.numClick(7)">7</button></div>
        <div class="col-md-3"><button class="btn buttons" ng-click="main.numClick(8)">8</button></div>
        <div class="col-md-3"><button class="btn buttons" ng-click="main.numClick(9)">9</button></div>
        <div class="col-md-3"><button class="btn buttons" ng-click="main.plus('+')">+</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-3"><button class="btn buttons" ng-click="main.numClick(4)">4</button></div>
        <div class="col-md-3"><button class="btn buttons" ng-click="main.numClick(5)">5</button></div>
        <div class="col-md-3"><button class="btn buttons" ng-click="main.numClick(6)">6</button></div>
        <div class="col-md-3"><button class="btn buttons">-</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4"><button class="btn buttons" ng-click="main.numClick(1)">1</button></div>
                <div class="col-md-4"><button class="btn buttons" ng-click="main.numClick(2)">2</button></div>
                <div class="col-md-4"><button class="btn buttons" ng-click="main.numClick(3)">3</button></div>
            </div>
            <div class="row">
                <div class="col-md-8"><button class="btn buttonZero" ng-click="main.numClick(0)">0</button></div>
                <div class="col-md-4"><button class="btn buttons" ng-click="main.numClick('.')">.</button></div>
            </div>
        </div>
        <div class="col-md-3"><button class="btn buttonsEqual">=</button></div>
    </div>
</div>