<div class="main"  ng-show="!main.slipFlag">
    <div class="row rowLine">
        <div class="col-md-2"><button class="btn buttonS">C</button></div>
        <div class="col-md-2"><button class="btn buttonS">DEL</button></div>
        <div class="col-md-2"><button class="btn buttonS">^</button></div>
        <div class="col-md-2"><button class="btn buttonS">π</button></div>
        <div class="col-md-2"><button class="btn buttonS">√</button></div>
        <div class="col-md-2"><button class="btn buttonS">1/X</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-2"><button class="btn buttonS">sin</button></div>
        <div class="col-md-2"><button class="btn buttonS">(</button></div>
        <div class="col-md-2"><button class="btn buttonS">)</button></div>
        <div class="col-md-2"><button class="btn buttonS">ln</button></div>
        <div class="col-md-2"><button class="btn buttonS">÷</button></div>
        <div class="col-md-2"><button class="btn buttonS">×</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-2"><button class="btn buttonS">cos</button></div>
        <div class="col-md-2"><button class="btn buttonS">7</button></div>
        <div class="col-md-2"><button class="btn buttonS">8</button></div>
        <div class="col-md-2"><button class="btn buttonS">9</button></div>
        <div class="col-md-2"><button class="btn buttonS">%</button></div>
        <div class="col-md-2"><button class="btn buttonS">-</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-2"><button class="btn buttonS">tan</button></div>
        <div class="col-md-2"><button class="btn buttonS">4</button></div>
        <div class="col-md-2"><button class="btn buttonS">5</button></div>
        <div class="col-md-2"><button class="btn buttonS">6</button></div>
        <div class="col-md-2"><button class="btn buttonS">.</button></div>
        <div class="col-md-2"><button class="btn buttonS">+</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-2"><button class="btn buttonS">log</button></div>
        <div class="col-md-2"><button class="btn buttonS">1</button></div>
        <div class="col-md-2"><button class="btn buttonS">2</button></div>
        <div class="col-md-2"><button class="btn buttonS">3</button></div>
        <div class="col-md-2"><button class="btn buttonS">0</button></div>
        <div class="col-md-2"><button class="btn buttonS">=</button></div>
    </div>
</div>