<div class="main"  ng-show="!(main.normalServ.slipFlag)">
    <div class="row rowLine">
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.clear()">C</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.delete()">DEL</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.symbolClick('^')">^</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick('π')">π</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.symbolClick('√')">√</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick('1/')">1/X</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-2"><button class="btn buttonS">sin</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick('(')">(</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(')')">)</button></div>
        <div class="col-md-2"><button class="btn buttonS">ln</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.symbolClick('÷')">÷</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.symbolClick('×')">×</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-2"><button class="btn buttonS">cos</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(7)">7</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(8)">8</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(9)">9</button></div>
        <div class="col-md-2"><button class="btn buttonS">%</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.symbolClick('-')">-</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-2"><button class="btn buttonS">tan</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(4)">4</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(5)">5</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(6)">6</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick('.')">.</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.symbolClick('+')">+</button></div>
    </div>
    <div class="row rowLine">
        <div class="col-md-2"><button class="btn buttonS">log</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(1)">1</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(2)">2</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(3)">3</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.normalServ.numClick(0)">0</button></div>
        <div class="col-md-2"><button class="btn buttonS" ng-click="main.equal()">=</button></div>
    </div>
</div>