<div class="container about">
	<p>This is a web-calculator with humanity-UI design.</p>
	<p>The bright spot of this calculator is that it can transfer between normal calculator and scientific calculator.The following is the UI: the first image is the normal calculator's UI, and the other is the scientific calculator's UI. You can tranfer them by click the slip-button. </p>
	<img src="../../images/normal.png" alt="normal calculator"/>
	<img src="../../images/scientific.png" alt="scientific calculator"/>
</div>