<div class="calculator">
    <!-- the result's display -->
    <div>
        <textarea rows="2" disabled></textarea>
    </div>
    <!-- the slip button -->
    <div class="slipButton">
        <section class="model-1">       
            <div class="checkbox">           
                <input type="checkbox"/>
                <label>科学标准</label>                
            </div>
        </section>
    </div>
    <!-- normal calculator -->
    <div class="main" ng-show="false">
        <div class="row rowLine">
            <div class="col-md-3"><button class="btn buttons">C</button></div>
            <div class="col-md-3"><button class="btn buttons">DEL</button></div>
            <div class="col-md-3"><button class="btn buttons">÷</button></div>
            <div class="col-md-3"><button class="btn buttons">×</button></div>
        </div>
        <div class="row rowLine">
            <div class="col-md-3"><button class="btn buttons">7</button></div>
            <div class="col-md-3"><button class="btn buttons">8</button></div>
            <div class="col-md-3"><button class="btn buttons">9</button></div>
            <div class="col-md-3"><button class="btn buttons">+</button></div>
        </div>
        <div class="row rowLine">
            <div class="col-md-3"><button class="btn buttons">4</button></div>
            <div class="col-md-3"><button class="btn buttons">5</button></div>
            <div class="col-md-3"><button class="btn buttons">6</button></div>
            <div class="col-md-3"><button class="btn buttons">-</button></div>
        </div>
        <div class="row rowLine">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4"><button class="btn buttons">1</button></div>
                    <div class="col-md-4"><button class="btn buttons">2</button></div>
                    <div class="col-md-4"><button class="btn buttons">3</button></div>
                </div>
                <div class="row">
                    <div class="col-md-8"><button class="btn buttonZero">0</button></div>
                    <div class="col-md-4"><button class="btn buttons">.</button></div>
                </div>
            </div>
            <div class="col-md-3"><button class="btn buttonsEqual">=</button></div>
        </div>
    </div>

    <!-- scientific calculator -->
    <div class="main">
        <div class="row rowLine">
            <div class="col-md-2"><button class="btn buttonS">C</button></div>
            <div class="col-md-2"><button class="btn buttonS">DEL</button></div>
            <div class="col-md-2"><button class="btn buttonS">^</button></div>
            <div class="col-md-2"><button class="btn buttonS">π</button></div>
            <div class="col-md-2"><button class="btn buttonS">√</button></div>
            <div class="col-md-2"><button class="btn buttonS">1/X</button></div>
        </div>
        <div class="row rowLine">
            <div class="col-md-2"><button class="btn buttonS">sin</button></div>
            <div class="col-md-2"><button class="btn buttonS">(</button></div>
            <div class="col-md-2"><button class="btn buttonS">)</button></div>
            <div class="col-md-2"><button class="btn buttonS">ln</button></div>
            <div class="col-md-2"><button class="btn buttonS">÷</button></div>
            <div class="col-md-2"><button class="btn buttonS">×</button></div>
        </div>
        <div class="row rowLine">
            <div class="col-md-2"><button class="btn buttonS">cos</button></div>
            <div class="col-md-2"><button class="btn buttonS">7</button></div>
            <div class="col-md-2"><button class="btn buttonS">8</button></div>
            <div class="col-md-2"><button class="btn buttonS">9</button></div>
            <div class="col-md-2"><button class="btn buttonS">%</button></div>
            <div class="col-md-2"><button class="btn buttonS">-</button></div>
        </div>
        <div class="row rowLine">
            <div class="col-md-2"><button class="btn buttonS">tan</button></div>
            <div class="col-md-2"><button class="btn buttonS">4</button></div>
            <div class="col-md-2"><button class="btn buttonS">5</button></div>
            <div class="col-md-2"><button class="btn buttonS">6</button></div>
            <div class="col-md-2"><button class="btn buttonS">.</button></div>
            <div class="col-md-2"><button class="btn buttonS">+</button></div>
        </div>
        <div class="row rowLine">
            <div class="col-md-2"><button class="btn buttonS">log</button></div>
            <div class="col-md-2"><button class="btn buttonS">1</button></div>
            <div class="col-md-2"><button class="btn buttonS">2</button></div>
            <div class="col-md-2"><button class="btn buttonS">3</button></div>
            <div class="col-md-2"><button class="btn buttonS">0</button></div>
            <div class="col-md-2"><button class="btn buttonS">=</button></div>
        </div>
    </div>
</div>