<div class="calculator">
    <!-- author's info -->
    <a href="https://github.com/Summer-Dong/calculator" id='record'>@Summer</a>
    <!-- the result's display -->
    <div class="screen">
        <input class="typeIn" type="text" value={{main.inputs}} disabled/>
        <input class="result" type="text" value={{main.results}} disabled>
    </div>
    <!-- the slip button -->
    <div class="slipButton">
        <section class="model-1">       
            <div class="checkbox">           
                <input type="checkbox" ng-click="main.slip()"/>
                <label>科学标准</label>                
            </div>
        </section>
    </div>
    <!-- normal calculator -->
    <normal-calcu></normal-calcu>
    <!-- scientific calculator -->
    <scientific-calcu></scientific-calcu>
</div>