<div class="container">
    <!-- normal calculator -->
    <div>
        <div class="row">
            <button class="col-md-3 btn">C</button>
            <button class="col-md-3 btn">DEL</button>
            <button class="col-md-3 btn">÷</button>
            <button class="col-md-3 btn">×</button>
        </div>
        <div class="row">
            <button class="col-md-3 btn">7</button>
            <button class="col-md-3 btn">8</button>
            <button class="col-md-3 btn">9</button>
            <button class="col-md-3 btn">+</button>
        </div>
        <div class="row">
            <button class="col-md-3 btn">4</button>
            <button class="col-md-3 btn">5</button>
            <button class="col-md-3 btn">6</button>
            <button class="col-md-3 btn">-</button>
        </div>
        <div class="row">
            <button class="col-md-3 btn">1</button>
            <button class="col-md-3 btn">2</button>
            <button class="col-md-3 btn">3</button>
            <button class="col-md-3 btn">=</button>
        </div>
        <div class="row">
            <button class="col-md-6 btn">0</button>
            <button class="col-md-3 btn">.</button>
            <button class="col-md-3 btn">=</button>
        </div>
    </div>
    <!-- scientific calculator -->
    <div>
        
    </div>
</div>